body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  margin-bottom: 40px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
body {
  background-color: rgb(0, 0, 0);
  background-size: cover;  /* Adjust to fit the screen */
  background-repeat: no-repeat;  /* Prevent tiling */
  background-position: center;  /* Center the image */
}
