* {
  margin-top: 40;
  padding: 00;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.calendar-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  color: #8abcf1;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
}

.timezone {
  color: #c7c1c1;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  text-align: left; /* Ensuring text is left-aligned */
}

.icon {
  font-size: 2em;
  margin-right: 15px;
}

.event-details {
  flex: 1;
  text-align: left; /* Left-aligning text inside the details */
}

.event-details h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.event-details p {
  color: #f7f1f1;
  line-height: 1.6;
}

.event-details a {
  display: block; /* Making the link block-level */
  text-align: justify; /* Centering the link */
  color: #338ded;
  text-decoration: none;
  margin-top: 10px; /* Adding some space above the link */
}

.event-details a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .event {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}
