.container{
  margin-bottom: 5%;
}
.BlogView{
  background-color: rgb(4, 17, 29);
}
/* Css dekh lena ki dynamically image kaise resize kare (done)*/
.blog_header{
  color: rgb(97, 156, 183);
}
.blog-image{
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  margin-left: 6%;
  margin-right: 2%;
  margin-top: 1rem;
  float: left;
}


.text{
  font-size: 22px;
  color: #fff;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1rem;
  font-family: "Lato", serif;
  font-weight: 300;
}

.related-blogs-title{
  width: 100%;
  margin-left: 6%;
  margin-right: 6%;
  font-size: 40px;
  font-weight: bold;
  
  color: #8abcf1;
}