.main-content-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-content-box > div{
  height: 400px;
  width: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}