
.main-content{
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
.content-box{
  background-image: url("../images/image3.jpg");
  background-repeat: no-repeat;
  background-size:cover;

}
