.main-box{
  height: 350px;
  width: 270px;
  background-color:rgba(0,0,0,0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.image{
  height: 150px;
  width: 150px;
  border-radius: 20px;

}

.title-box{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.desc-box{
  color: white;
  font-size: 15px;
  text-align: center;
}
.author-box{
  margin-top: 20px;
  color: #fff;
}
