.head-box{

  height: 80px;
}

.top-box{
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}


.head-link-box{
  display: flex;

  margin-top: 40px;
}

.head-links{
  color: beige;
  font-size: 15px;

  margin-left: 10px;
  margin-right: 10px;
}