.highlights-section {
  padding: 50px 30px;
  background-color: #f9f9f9;
  background-image: url("../images/image3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

.highlights-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section-title {
  text-align: center; /* Center the text */
  font-size: 2.5rem; /* Increase the font size */
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 3rem; /* Make the title larger */
}

.section-title p {
  font-size: 1.2rem; /* Optional: Adjust the size of the paragraph text */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}
