.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #797984;
  }
  
  .head-links {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for both color and size change */
  }
  
  .head-links:hover {
    color: #000000; /* Slightly darker color when hovered */
    transform: scale(1.1); /* Slight enlargement on hover */
  }
  