.foot-link-box{
  display: flex;
  justify-content: center;
  height: 100px;

  align-items: center;


  background-color: black;
}

.foot-links{
  color: white;
  font-size: 15px;

  margin-left: 15px;
  margin-right: 15px;
}