.foot-box{
  
  height: 50px;
}

.foot-link-box{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.foot-links{
  color: beige;
  font-size: 15px;

  margin-left: 15px;
  margin-right: 15px;
}

.foot-note{
  font-size: 15px;
  color: white;

  text-align: center;
}